<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="conditional_checkout-step_message_config_provider" xsi:type="object">Antonio88\ConditionalCheckoutStep\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin disabled="false"
                name="ConditionalCheckoutStep::addExtensionAttributesToCheckoutConfig"
                type="Antonio88\ConditionalCheckoutStep\Plugin\PassProp65ProductsExistenceToCheckoutConfig" />
    </type>
</config>

